<html>
    <head>
        <style>
          
           body {
                font-family: Arial, sans-serif;
                width: 141px;
                height: 250px;
                background:none;
                margin: 0;
                padding: 0;
                background: none;
           }
           .outer{
                width: 141px;
                height: 250px;
                border-radius: 15px;
                overflow: hidden;
                background-color: #FFFFFF;
                position: relative;
           }
           .LeftTopCorner{
                position: absolute;
                left: 0;
                top: 0;
           }
           .RightBottomCorner{
                position: absolute;
                bottom: 0;
                right: 0;
           }
           .middle{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 100%;
           }
           .topcontent .title{
                color: #FFF;
                text-align: center;
                font-family: Poppins Medium;
                font-size: 9px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-transform:capitalize; 
           }
           .topcontent .author{
                color: #FFF;
                text-align: center;
                font-family: Poppins Medium;
                font-size: 8px;
                font-style: normal;
                line-height: normal;
           }
           .topcontent .heading{
                color: #FFF;
                text-align: center;
                font-family: Poppins Medium;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-transform:capitalize; 
                margin-top: 10px;
           }
           .winnerlist{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
           }
           .winnercard{
                width: 60px
           }
           .winnercard .winner-img{
                background-image: url("<%= Data.BASEURL %>/assets/images/winner-bg.png");
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto;
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
           }
           .winnercard .winner-img img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
           }
           .winnercard .winnername{
                color: #FFF;
                text-align: center;
                font-family: Poppins Medium;
                font-size: 12px;
                font-weight: 500;
                font-style: normal;
                line-height: normal;
                height: 30px;
                overflow: hidden;
           }

           .logobox{
                border-radius: 15px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 8px 0px 5px;
                padding: 5px;
           }
           .logobox .left{
                width: 50px;
           }
           .logobox .left img{ 
                width: 100%;
           }
           .logobox .right{
                text-align: center;
                font-family: Poppins Medium;
                font-size: 9px;
                font-weight: 500;
                font-style: normal;
                line-height: normal;
                color: #b9b9b9;
                text-transform: uppercase;
                margin-left: 3px;
                border-left: 2px solid #7b7a7a;
                padding-left: 2px;
           }
           .logobox .right span{
                color: #000;
           }
           .copyright{
                text-align: center;
                font-family: Poppins Medium;
                font-size: 9px;
                font-style: normal;
                line-height: normal;
                color: #FFF;
           }
           .CB1 {
                background-image: -webkit-linear-gradient(0deg, #8a2091, #ed2ba2);
            }
            .CB2 {
                background-image: -webkit-linear-gradient(0deg, #ca3249, #ff6f85);
            }
            .CB3 {
                background-image: -webkit-linear-gradient(0deg, #eb4d64, #ff798d);
            }
            .CB4 {
                background-image: -webkit-linear-gradient(0deg, #c15dd6, #ee9bff);
            }
            .CB5 {
                background-image: -webkit-linear-gradient(0deg, #5e2360, #b541b9);
            }
            .CB6 {
                background-image: -webkit-linear-gradient(0deg, #5555dd, #8888fc);
            }
            .CB7 {
                background-image: -webkit-linear-gradient(0deg, #6a1ada, #a768ff);
            }
            .CB8 {
                 background-image: -webkit-linear-gradient(0deg, #cecece, #f5f5f5); 
                
            }
            .CB9 {
                background-image: -webkit-linear-gradient(0deg, #eb7b5c, #ffa38a);
            }
            .CB10 {
                background-image: -webkit-linear-gradient(0deg, #1f6d4a, #3ecf8e);
            }
            .CB11 {
                background-image: -webkit-linear-gradient(0deg, #5e8e3d, #a5f173);
            }
            .CB12 {
                background-image: -webkit-linear-gradient(0deg, #bb8623, #ffbd41);
            }
            .CB13 {
                background-image: -webkit-linear-gradient(0deg, #1d1d1c, #000000);
            }


       </style>
    </head>
    <body>


        <div class="outer <%= Data.BaseColor? Data.BaseColor: 'CB13' %>">
            <div class="LeftTopCorner"><img class='PageSubImages' src="<%= Data.BASEURL %>/assets/images/corner-lt.png"  alt=''/></div>
            <div class="RightBottomCorner"><img class='PageSubImages' src="<%= Data.BASEURL %>/assets/images/corner-rb.png"  alt=''/></div>
            <div class="middle">
                <div class="topcontent">
                    <div class="title"><%=Data.Title %></div>
                    <div class="author"><%=Data.Author.ChannelTitle %></div>
                    <div class="heading">Winner</div>
                </div>
                <div class="winnerlist">
                    <% if(Data.Winners.length>0){ %>
                        <% Data.Winners.forEach( (winner) => { %>
                        <div class="winnercard">
                            <div class="winner-img">
                                <img src="<%= winner.authorProfileImageUrl? winner.authorProfileImageUrl:Data.BASEURL+'/assets/images/winnerCup.png' %>"  alt=''/>
                            </div>
                            <div class="winnername"><%=winner.authorDisplayName %></div>
                        </div>
                        <% }) %>
                    <% } %>
                </div>
                <div class="bottomcontent">
                    <div class="logobox">
                        <div class="left">
                            <img class="logoimg" src="<%= Data.BASEURL %>/assets/images/logo.png"  alt=''/>
                        </div>
                        <div class="right"> 
                            Code <span><%=Data.Code %></span>
                        </div>
                    </div>

                    <div class="copyright">fortuneflick.com</div>
                </div>

            </div>
            
        </div>

    </body>
</html>